h1 {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
    background-image: linear-gradient(lightblue, #e66465);
    border-radius: 0.75rem;
    width: 50%;
    left: 40%;
    color: blueviolet;
    text-decoration-line: underline; 


}

#row1 {
  background-color: rgb(36, 152, 190);
    margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
img {
  border-radius: 0.75rem;
  border-color: blue;
  border: 10px;
}
#main {
    background-color: red;
}
#row2 {
    background-color: rgb(36, 152, 190);
    margin: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  }
  
  
  img {
    padding: 10px;
    text-align: center;
    margin: 50px;
    width: 500px;
  }
  body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
  }
  p {
    background-color: lightblue;
    border-radius: 0.75rem;
    padding: 20px;
    border-color: red;
  }

/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

